<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jiiiiiin.module.common.mapper.mngauth.AdminMapper">

    <!-- 开启二级缓存 -->
    <!--<cache TYPE="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <!-- 同ehcache参数maxElementsInMemory -->
        <property name="maxEntriesLocalHeap" value="1000"/>
        <!-- 同ehcache参数maxElementsOnDisk -->
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.jiiiiiin.module.common.entity.mngauth.Admin">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time, username, password, phone, email
    </sql>

    <insert id="relationRole">
        insert into mng_role_admin(role_id, user_id) values
        <foreach collection="roles" item="item" index="index"
                 separator=",">
            (#{item.id}, #{id})
        </foreach>
    </insert>

    <delete id="clearRelationRoleAdminRecord">
        delete from mng_role_admin where user_id = #{id}
    </delete>

    <resultMap id="selectByUsernameResultMap" type="Admin">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <collection property="roles" ofType="Role" javaType="list">
            <result column="role_id" property="id"/>
            <result column="name" property="name"/>
            <result column="authority_name" property="authorityName"/>
            <result column="num" property="num"/>
            <result column="pid" property="pid"/>
        </collection>
    </resultMap>

    <select id="selectByUsername" resultMap="selectByUsernameResultMap">
        select
          admin.*,
          role.*,
          role.id role_id
          from mng_admin as admin
          left join mng_role_admin mra on admin.id = mra.user_id
          left join mng_role role on mra.role_id = role.id
        where admin.username = #{username}
    </select>

</mapper>
