<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <title>绑定第三方平台用户信息 - 默认</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none !important;
        }

        .content-container {
            padding: 20px;
        }

    </style>
</head>
<body>

<div id="app" v-cloak>

    <el-row class="from">
        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="22" class="content-container">

            <h3 v-if="user!=null">{{user.username}} 您当前的绑定信息</h3>

            <el-card class="box-card">
                <el-table
                        :data="tableData"
                        stripe>
                    <el-table-column
                            prop="providerId"
                            label="渠道">
                    </el-table-column>
                    <el-table-column
                            prop="status"
                            label="状态"
                    >
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                    >
                        <template slot-scope="scope">
                            <el-button
                                    type="text"
                                    size="small"
                                    @click="onTapUnBinding(scope.$index, scope.row)"
                                    v-if="scope.row.isBinding">
                                解绑
                            </el-button>
                            <el-button
                                    type="text"
                                    size="small"
                                    @click="onTapBinding(scope.$index, scope.row)"
                                    v-if="!scope.row.isBinding">
                                绑定
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>

            </el-card>

            <p>绑定第三方帐号，可以直接登录，还可以将内容同步到以下平台，与更多好友分享</p>

        </el-col>
        <el-col :span="1">&nbsp;</el-col>
    </el-row>


    <form ref="bindingWeixinForm" style="display: none" action="/connect/weixin" method="post"></form>
    <form ref="bindingQQForm" style="display: none" action="/connect/qq" method="post"></form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/common.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                user: null,
                // key 是第三方授权服务提供商的provider id
                bindingInfo: {}
            }
        },
        computed: {
            weixinBinding() {
                return this.bindingInfo.weixin
            },
            qqBinding() {
                return this.bindingInfo["callback.do"]
            },
            tableData() {
                const res = []
                for (const key in this.bindingInfo) {
                    res.push({
                        providerId: ((key) => {
                            switch (key) {
                                case 'weixin':
                                    return '微信'
                                case 'callback.do':
                                    return 'QQ'
                            }
                        })(key),
                        status: (() => {
                            return this.bindingInfo[key] ? '已经绑定' : '未绑定'
                        })(),
                        isBinding: this.bindingInfo[key]
                    })
                }
                console.log(res)
                return res
            }
        },
        methods: {
            onTapUnBinding(idx, item) {
                let provideId = 'weixin'
                switch (item.providerId) {
                    case 'QQ':
                        provideId = 'callback.do'
                        break
                }
                this.$vp.delete(`/connect/${provideId}`)
                    .then((response) => {
                        this.$message('解绑成功')
                    })
                    .catch((err) => {
                        // TODO 待修正
                        this.$message('解绑成功')
                        //alert(`解绑出错${JSON.stringify(err.response)}`)
                    })
            },
            onTapBinding: function (idx, item) {
                switch (item.providerId) {
                    case 'QQ':
                        this.$refs.bindingQQForm.submit()
                        break
                    default:
                        this.$refs.bindingWeixinForm.submit()
                }
            }
        },
        created() {
            this.$vp.get('/user/me')
                .then((response) => {
                    this.user = response.data
                })
                .catch((err) => {
                    alert(`获取登录用户信息出错 ${JSON.stringify(err.response)}`)
                })

            this.$vp.get('/connect')
                .then((response) => {
                    this.bindingInfo = response.data
                })
                .catch((err) => {
                    alert(`获取登录用户第三方授权绑定信息出错 ${JSON.stringify(err.response)}`)
                })
        }

    })
</script>
</body>
</html>