<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,admin-scalable=no">
    <title>登录 - 默认（app）</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak] {
            display: none !important;
        }

        .title {
            text-align: center;
        }

        .image-code-input {
            width: 50%;
        }

        .image-code {
            position: absolute;
            width: 100px;
            margin-left: 20px;
            height: 40px;
        }

        .from {
            margin-top: 150px;
        }
    </style>
</head>
<body>

<div id="app" v-cloak>

    <el-row class="from">
        <el-col :span="8">&nbsp;</el-col>
        <el-col :span="8">

            <h3 class="title">登录</h3>

            <el-tabs type="border-card">
                <el-tab-pane label="账号方式">
                    <!--自定义登录交易-->
                    <!--默认框架配置的登录交易，查看UsernamePasswordAuthenticationFilter#requiresAuthenticationRequestMatcher-->
                    <!--<form action="/login" method="post">-->
                    <el-form ref="form" label-width="80px" action="/authentication/form" method="post">
                        <el-form-item label="用户名" required="true">
                            <el-input name="username" v-model="username"></el-input>
                        </el-form-item>

                        <el-form-item label="密码" required="true">
                            <el-input name="password" v-model="password" type="password"></el-input>
                        </el-form-item>

                        <!--<el-form-item label="验证码" required="true">-->
                        <!--<el-input name="imageCode" class="image-code-input"></el-input>-->
                        <!--<img src="/code/image" class="image-code" @click="onChangeValidateImgCode">-->
                        <!--</el-form-item>-->

                        <el-form-item>
                            <el-button type="primary" @click="onSubmit" @keyup.enter="onSubmit">提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="验证码方式">
                    <el-form ref="form2" label-width="80px" action="/authentication/mobile" method="post">
                        <el-form-item label="手机号" required="true">
                            <el-input name="mobile" v-model="mobile"></el-input>
                        </el-form-item>

                        <el-form-item label="验证码" required="true">
                            <el-input name="smsCode" class="image-code-input"></el-input>
                            <el-button type="primary" plain @click="reqSendSmsCode" :disabled="sendSmsCodeBtnStatus">
                                获取验证码
                            </el-button>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="onSubmit2">提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
                <el-tab-pane label="社交快捷方式">
                    <el-row>
                        <!--http://wiki.connect.qq.com/%E7%BD%91%E7%AB%99%E5%89%8D%E7%AB%AF%E9%A1%B5%E9%9D%A2%E8%A7%84%E8%8C%83#1..E4.BD.BF.E7.94.A8.E8.85.BE.E8.AE.AF.E6.8F.90.E4.BE.9B.E7.9A.84.E6.A0.87.E5.87.86.E2.80.9CQQ.E7.99.BB.E5.BD.95.E2.80.9D.E6.A0.87.E8.AF.86-->
                        <el-button type="primary" @click="onTapQQAuthSignIn">qq登录</el-button>
                        <el-button type="success" @click="onTapWeixinAuthSignIn">微信登录</el-button>
                        <!--<el-button type="info">信息按钮</el-button>-->

                        <!--<a href="/qqLogin/callback.do">QQ登录</a>-->
                    </el-row>

                </el-tab-pane>
            </el-tabs>

        </el-col>
        <el-col :span="8">&nbsp;</el-col>
    </el-row>

</div>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.2/qs.min.js"></script>
<script src="https://cdn.bootcss.com/Base64/1.0.1/base64.min.js"></script>
<script src="/js/common.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                username: 'admin',
                password: 'a11111',
                mobile: '15388888888',
                show: false,
                sendSmsCodeBtnStatus: false,
                accessToken: null
            }
        },
        computed: {
            rememberVal: function () {
                return this.remember
            }
        },
        methods: {
            onSubmit: function (e) {
                this.$vp.post('/authentication/form', Qs.stringify({
                    username: this.username,
                    password: this.password
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        // 需要对[client-id:client-secret]进行base64编码
                        'Authorization': `Basic ${btoa('immoc:immocsecret')}`
                    }
                }).then(function (response) {
                    console.log(`token 授权登录完成->`, response)
                    this.accessToken = response.data['access_token']
                }).catch(function (err) {
                    alert(`请求短信验证码出错${JSON.stringify(err.response)}`)
                })
            },
            onSubmit2: function (e) {
                console.log(this.$refs.form)
                this.$refs.form2.$el.submit();
            },
            reqSendSmsCode: function (e) {
                var that = this
                this.sendSmsCodeBtnStatus = true
                this.$vp.get('/code/sms', {
                    params: {
                        mobile: this.mobile
                    }
                }).then(function (response) {
                    console.log(`请求发送短信成功->`, response)
                    // TODO 对按钮做发送时长控制
                    that.sendSmsCodeBtnStatus = false
                    that.$message('发送成功')
                }).catch(function (err) {
                    alert(`请求短信验证码出错${JSON.stringify(err.response)}`)
                    that.sendSmsCodeBtnStatus = false
                })
            },
            onChangeValidateImgCode: function (e) {
                e.target.src = `${baseConfig.baseURL}/code/image?${new Date().getTime()}`
            },
            onTapQQAuthSignIn: function () {
                /**
                 * social的过滤器 SocialAuthenticationFilter 会拦截`/auth`标识的接口
                 * /qq 代表的是QQProperties#providerId
                 * @type {string}
                 */
                // window.location.href = `${baseConfig.baseURL}/auth/qq`
                // 测试接口，本地需要使用修改host文件方式映射到，www.pinzhi365.com
                window.location.href = `${baseConfig.baseURL}/qqLogin/callback.do`
            },
            onTapWeixinAuthSignIn: function () {
                // 相同的spring social过滤器处理接口完成处理
                window.location.href = `${baseConfig.baseURL}/qqLogin/weixin`
            }
        }

    })
</script>
</body>
</html>