<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cloud.ms.product.dao.ProductDao">
    <select id="getProduct" resultType = "product">
        SELECT id, product_name as productName, stock, note
        FROM  t_product where id = #{id}
    </select>
    <update id="reduceStock">
        update t_product set stock = stock- #{quantity} where id = #{id}
        and not exists (select * from t_product_sales_details where xid = #{xid})
    </update>
</mapper>